body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
  padding-top: 50px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
